@charset "UTF-8";

body,html {

    text-align: right;
    margin:0;
    padding:0;
    height: 100%;
    
}


#menuholder {

    margin: 0% 2% 0% 0%;

}

#menu {

    margin: 1% 0% 0% 0%;
    padding: 0% 0.3% 0% 0.3%;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    background-color: transparent;
    border: none;
    font-size:1.5vw;
    color: black;
    display: inline-block;

}

#menu:hover {

    text-decoration: underline;

}


#srch {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 7vw;
    width: 80vw;
    border: 0px #000 solid;
    border-radius: 3px;
    -webkit-box-shadow: 0px 5px 8px #cecece;
    -moz-box-shadow: 0px 5px 8px #cecece;
    box-shadow: 0px 5px 8px #cecece;
    transition-duration: 0.2s;
    
}


#srch:focus, #srch:hover {
    
    -webkit-box-shadow: 0px 10px 12px #cecece;
    -moz-box-shadow: 0px 10px 12px #cecece;
    box-shadow: 0px 10px 12px #cecece;
    transition-duration: 0.2s;

}


#srch[type=text] {
    
    color: #000;
    padding: 1% 2%;

    font-family: 'Roboto', sans-serif;
    font-size: 6vw;

}


#srch::-webkit-input-placeholder {
    
    text-align: right;
    color: #cecece;
    opacity: 1;
    
}
#srch::-moz-placeholder {
    
    text-align: right;
    color: #cecece;
    opacity: 1;

}
#srch:-ms-input-placeholder {
    
    text-align: right;
    color: #cecece;
    opacity: 1;
    
}

#webpage::selection {

    color: white;
    background: black;

}
#webpage::-moz-selection {

    color: white;
    background: black;

}
